<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>



    <target name="asyncFile" xsi:type="File"
              fileName="${basedir}/log/Info/${shortdate}/${logger}-${shortdate}.log"
              layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
              archiveFileName="${basedir}/archives/${logger}-${shortdate}-{#####}.log"
              archiveAboveSize="102400"
              archiveNumbering="Sequence"
              concurrentWrites="false"
              keepFileOpen="false" />


    <target name="CanInfo" xsi:type="File"
              fileName="${basedir}/log/CanInfo/${shortdate}/${logger}-${shortdate}.log"
              layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
              archiveFileName="${basedir}/archives/${logger}-${shortdate}-{#####}.log"
              archiveAboveSize="102400"
              archiveNumbering="Sequence"
              concurrentWrites="false"
              keepFileOpen="false" />



    <target name="Warninfo" xsi:type="File"
                  fileName="${basedir}/log/Warn/${shortdate}/${logger}-${shortdate}.log"
                  layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
                  archiveFileName="${basedir}/archives/${logger}-${shortdate}-{#####}.log"
                  archiveAboveSize="102400"
                  archiveNumbering="Sequence"
                  concurrentWrites="false"
                  keepFileOpen="false" />

    <target name="Errorinfo" xsi:type="File"
              fileName="${basedir}/log/Error/${shortdate}/${logger}-${shortdate}.log"
              layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
              archiveFileName="${basedir}/archives/${logger}-${shortdate}-{#####}.log"
              archiveAboveSize="102400"
              archiveNumbering="Sequence"
              concurrentWrites="false"
              keepFileOpen="false" />

  </targets>

  <!--规则配置,final - 最终规则匹配后不处理任何规则-->
  <rules>

    <logger name="*" level="Error" writeTo="Errorinfo" />
    <logger name="*" level="Warn"  writeTo="Warninfo" />
    <logger name="*" level="Info"  writeTo="asyncFile" />
    <logger name="*" level="Trace"  writeTo="CanInfo" />
  </rules>
</nlog>